<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Clear</display-name>

    <servlet>
        <servlet-name>clear</servlet-name>
        <servlet-class>org.immregistries.clear.servlet.ClearServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>email</servlet-name>
        <servlet-class>org.immregistries.clear.servlet.EmailServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>clear</servlet-name>
        <url-pattern>/clear</url-pattern>
    </servlet-mapping>	 
    
    <servlet-mapping>
        <servlet-name>email</servlet-name>
        <url-pattern>/clear/email</url-pattern>
    </servlet-mapping>	 

</web-app>
